* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 1rem;
}

.content {
  height: 100%;
  width: 100%;
}

.header img,
.footer img {
  height: 30px;
  width: 30px;
}
